#footer {
    background-color: rgb(242, 240, 223);
    padding-top: 100px;
    padding-bottom: 50px;

    a {
        display: inline;
        padding: 25px;
    }

    .pink {
        color: rgb(255, 150, 166);
    }
}