@font-face {
    font-family: "Themify";
    src: url("./Fonts/themify.woff")format("woff");
}

body {
    // font-family: Themify !important;
}

#nav {

    a:hover {
        color: rgb(255, 187, 198);
        ;
    }
}

.pink {
    color: rgb(255, 187, 198);
}

#beautyStarts {
    margin-top: 80px;

    button {
        background-color: #FF817E;
        border-style: none;
        color: white;
        transition: color 0.2s;

        &:hover {
            color: black;
        }
    }
}

#about {
    h5 {
        font-size: 15px;
    }


    button {
        border-radius: 30px;
        border-style: none;
        color: white;
        margin-left: 10px;
        background-color: #FF817E;
        transition: color 0.2s;

        &:hover {
            color: black;
        }
    }

    .hovertreatment {

        &>div {
            background-color: #FF817E;
            opacity: 0;
            transition: all 200ms linear;
            width: 100%;
            height: 100%;
        }

        &:hover {
            color: white;
            transition: transform 0.3s ease-in-out;

            &>div {
                opacity: 0.8;
            }
        }

        .spaiconcenter {
            text-align: center;
        }



    }
}

.maincontainer {
    max-width: 768px;
    margin: auto;
}

#features {
    font-size: 12px;

    button {
        border-radius: 30px;
        border-style: none;
        color: white;
        margin-left: 10px;
        background-color: black;
        font-size: 17px;

        &:hover {
            background-color: #FF817E;
        }
    }

    .shadowhover {

        transition: color 0.5s;

        &:hover {
            -webkit-box-shadow: 0px 0px 40px -12px rgba(150, 150, 150, 1);
            -moz-box-shadow: 0px 0px 40px -12px rgba(150, 150, 150, 1);
            box-shadow: 0px 0px 40px -12px rgba(150, 150, 150, 1);
        }
    }
}

.herobgimage {
    background-image: url("../src/img/spa.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    @media screen and (max-width: 992px){
        background-image: unset;
    }
}

#comments {
    background-color: #FFF9F8;
}

.teamCard {
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0px 10px 15px -1px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 10px 15px -1px rgba(219, 219, 219, 1);
    box-shadow: 0px 10px 15px -1px rgba(219, 219, 219, 1);
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 82%;
}

#team {
    margin-bottom: 100px;
}

#bookatime {
    background-color: #FFF9F8;

    input {
        background-color: #FFF9F8;
        border: #FFF9F8;
        border-bottom: 1px solid #999898;
        font-size: 13px;
    }

    label {
        font-size: 13px;

    }

    textarea {
        background-color: #FFF9F8;
        border: #FFF9F8;
        border-bottom: 1px solid #999898;
        margin-left: 10px;

    }

    button {
        width: 40%;
        border-radius: 30px;
        border: #FFF9F8;
        color: white;
        margin-left: 10px;
        background-color: #FF817E;
        transition: color 0.2s;

        &:hover {
            color: black;
        }
    }
}

#footer {
    a:hover {
        color: rgb(255, 187, 198);
        ;
    }

    p:hover {
        color: rgb(255, 187, 198);
        ;
    }
}